.room-image {
    &__base {
        margin-bottom: 32px;
        margin-left: 140px;
    }

    &__base--three {
        margin-left: 0px;
    }

    &__swipe {
        margin-bottom: 27.59px;
        margin-left: 75px;
    }

        &__swipe--none {
            display: none;
        }
}