*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: $primary-background-color;
  color: $primary-text-color;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 414px) {
    width: 414px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 47px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 85px;

  }
}
