@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/ofont.ru_Times New Roman.eot");
  src: local("☺"), url("../fonts/ofont.ru_Times\ New\ Roman.woff") format("woff"),
    url("../fonts/ofont.ru_Times New Roman.ttf") format("truetype"),
    url("../fonts/ofont.ru_Times New Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/times-new-roman-gras.eot");
  src: local("☺"), url("../fonts/times-new-roman-gras.woff") format("woff"),
    url("../fonts/times-new-roman-gras.ttf") format("truetype"), url("../fonts/times-new-roman-gras.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Film P3";
  src: url("../fonts/FontsFree-Net-FilmP3Bold.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-FilmP3Bold.woff") format("woff"),
    url("../fonts/FontsFree-Net-FilmP3Bold.ttf") format("truetype"),
    url("../fonts/FontsFree-Net-FilmP3Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg'), url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('☺'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg') format('svg'), url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('☺'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg') format('svg'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg'), url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


@import "./common";
@import "./utils/variables-colors";
@import "./base-components";
@import "./mixins";

@import "./hotel/room/section-room-two-luxe";
@import "./hotel/room/section-room-three";

@import "./header/header";
@import "./components/logo";
@import "./footer/footer";
@import "./components/hero-room";

@import "./components/button";
@import "./components/hero";
@import "./hotel/hero-hotel";
@import "./restaurant/hero-restaurant";
@import "./components/hero-room";
@import "./components/amenities";
@import "./main-page/main-hero";
@import "./components/socials";

@import "./hotel/room/section-room-two";
@import "./hotel/room/room-image";
@import "./hotel/room/room-three-image";
@import "./hotel/room-button";

@import "./utils/visually-hidden";
@import "./restaurant/restaurant-section";
@import "./restaurant/menu";
@import "./main-page/contact-page";

@import "./hotel/about-hotel-section.scss";
@import "./restaurant/menu";
@import "./restaurant/kitchen";
@import "./hotel/details-hotel";
@import "./restaurant/details-restoran";

@import "./modal/table-reservation";
@import "./modal/room-prices";
@import "./modal/room-reservation";

