@font-face {
	font-family: 'Times New Roman';
	src: url('../fonts/ofont.ru_Times New Roman.eot');
	src: local('☺'), url('../fonts/ofont.ru_Times\ New\ Roman.woff') format('woff'), url('../fonts/ofont.ru_Times New Roman.ttf') format('truetype'), url('../fonts/ofont.ru_Times New Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Times New Roman';
	src: url('../fonts/times-new-roman-gras.eot');
	src: local('☺'), url('../fonts/times-new-roman-gras.woff') format('woff'), url('../fonts/times-new-roman-gras.ttf') format('truetype'), url('../fonts/times-new-roman-gras.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Film P3';
	src: url('../fonts/FontsFree-Net-FilmP3Bold.eot');
	src: local('☺'), url('../fonts/FontsFree-Net-FilmP3Bold.woff') format('woff'), url('../fonts/FontsFree-Net-FilmP3Bold.ttf') format('truetype'), url('../fonts/FontsFree-Net-FilmP3Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-VariableFont_wght.eot');
	src: local('☺'), url('../fonts/Montserrat-VariableFont_wght.woff') format('woff'), url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'), url('../fonts/Montserrat-VariableFont_wght.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-alternates-medium.eot');
	src: local('☺'), url('../fonts/montserrat-alternates-medium.woff') format('woff'), url('../fonts/montserrat-alternates-medium.ttf') format('truetype'), url('../fonts/montserrat-alternates-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-alternates-semibold.eot');
	src: local('☺'), url('../fonts/montserrat-alternates-semibold.woff') format('woff'), url('../fonts/montserrat-alternates-semibold.ttf') format('truetype'), url('../fonts/montserrat-alternates-semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat-alternates-bold.eot');
	src: local('☺'), url('../fonts/montserrat-alternates-bold.woff') format('woff'), url('../fonts/montserrat-alternates-bold.ttf') format('truetype'), url('../fonts/montserrat-alternates-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@import './common';
@import './utils/variables-colors';
@import './base-components';
@import './hotel/room-two/section-room-two';
@import './hotel/room-two/room-image';
@import './hotel/room-two/room-button';
@import './details/details-restoran'
