.footer{
    background-color: $footer-background-color;
    
    
    
}





 

.first-footer{
    width: 100%;
    max-width: 414px;
    align-items: center;

    padding: 40px 30px;
    display: flex;
    background-image: $liner-gradient-footer-mobile;

    padding:40px 30px;
    display: flex; 

    @media screen and (max-width: 413px){
        display: inline-block;
    }

    
    @media screen and (min-width: 414px){
        max-width: 414px;
        background-image: $liner-gradient-footer-mobile;
    }




    @media screen and (min-width: 1024px){
        max-width: 1024px;
        padding:80px 115px;
        background-image: $liner-gradient-footer-tablet;
    }
    
        @media screen and (min-width: 1280px){
        max-width: 1280px;
        padding:80px 180px;
        background-image: $liner-gradient-footer-desktop;}
    
}



.footer-list{

    display: flex;
    flex-direction: column;

     gap: 16px;
     padding-top: 10px;
     margin-bottom: 32px;
    

    gap: 16px;
    // padding-top: 10px;
    margin-bottom: 32px;

    
    &__link{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2px;
        letter-spacing: 0.02em;
        color: $brown-color;
        transition: color 250ms $yellow-accent-color;

        &:hover,
        &:focus{
            color: $yellow-accent-color;
        }
    }


}


.footer-social{
    display: flex;
    gap: 20px;

    @media screen and (min-width: 1024px){
        flex-direction: column;
        gap: 12px;
        margin-left: auto;}

    &__icon{
        fill:currentColor;
    }
    

    &__link{
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: flex;

        color: $brown-color;
        transition: color 250ms $timing-function;

        @media screen and (min-width: 1024px){
        padding: 10px 12px;
            border: 0.5px solid rgba(0,0,0,0);
            border-radius: 2px;
            border-color: $brown-color;
            transition: border-color 250ms $timing-function;
        }

        &:hover,
        &:focus{
            color:$yellow-accent-color ;

            @media screen and (min-width: 1024px){
                border-color: $yellow-accent-color;
            }
        }

        &:hover span,
        &:focus span{
            color:$yellow-accent-color ;

        }
    
    }




    &__text{
        letter-spacing: .02em;
        color: $brown-color ;
        font-size: 16px;
        line-height: 1.25;
        display: none;
        margin-right: 15px;

    
        @media screen and (min-width: 1024px){
        display: block;}
    }
}





.nav-and-social{
    display: flex;
    flex-direction: column ;
    border-left: 2 px bold white;
    margin-left: auto;

    @media screen and (min-width: 1024px){
    gap: 137px;
    display: flex;
    flex-direction: row;}

    @media screen and (min-width: 1280px){
    gap: 199px;}
}