.footer{
    background-color: $footer-background-color;
    padding-top:40px ;
    padding-bottom: 40px;
    max-width: 100%;
    margin: 0 auto;

    &__container{
        display: flex;
        text-align: center;
    }
}

.first-footer{
    display: flex;
    align-items: baseline;
}
.footer-social__link{
    display: none;
}