// Body //
$primary-background-color: #fffdee;
$secondary-background-color: #f0ecd6;

//Hero//
$hero-fill-color: rgba(0, 0, 0, 0.65);
$hero-background-color: #2f303a;


//Header//
$header-address-text-color: #e5e5e5;
$room-page-header-gradient: linear-gradient(
  180deg,
  #000000 0%,
  rgba(0, 0, 0, 0.55) 54.17%,
  rgba(0, 0, 0, 0) 100%
);

//Text//
$white-text-color: #ffffff;
$yellow-accent-color: #f3c653;
$brown-color: #c79002;
$primary-text-color: #000000;
$secondary-text-color: #7a7a7a;
$optional-text-color-under-logo: #b4b4b4;
$contacts-under-footer-color: #828282;

//Footer//
$footer-background-color: #0e0c07;

//Logo//
$logo-black-color: #494848;
$logo-homepage-color-gray: #828282;
$logo-white-color: #ffffff;
$logo-yellow-color: #f3c653;

//Buttons//
$homepage-background-button-color: rgba(0, 0, 0, 0.4);
$restaurant-background-button-color: #000000;
$room-page-background-button-color: #000000;
$hover-white-background-button-color: #ffffff;
$hover-yellow-background-button-color: #ffffff;
$lines-color: rgba(186, 186, 186, 0.4);
$border-white-button-color: #ffffff;
$border-yellow-button-color: #f3c653;

//Timing function//
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//Shadow//
$pictures-box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);

//Icons//
$fill-white-icons: #ffffff;
$fill-black-icons: #000000;
$fill-yellow-icons: #f3c653; ;
