// Body //
$primary-background-color: #fffdee;
$secondary-background-color: #f0ecd6;

//Hero//
$hero-fill-color: rgba(0, 0, 0, 0.65);
$hero-background-color: #2f303a;


//Header//
$header-address-text-color: #e5e5e5;
$room-page-header-gradient: linear-gradient(
  180deg,
  #000000 0%,
  rgba(0, 0, 0, 0.55) 54.17%,
  rgba(0, 0, 0, 0) 100%
);

//Text//
$white-text-color: #ffffff;
$yellow-accent-color: #f3c653;
$brown-color: #c79002;
$primary-text-color: #000000;
$secondary-text-color: #7a7a7a;
$third-text-color: #5f5f5f;
$optional-text-color-under-logo: #b4b4b4;
$contacts-under-footer-color: #828282;

//Footer//
$footer-background-color: #0e0c07;

//Logo//
$logo-black-color: #494848;
$logo-homepage-color-gray: #828282;
$logo-white-color: #ffffff;
$logo-yellow-color: #f3c653;

//Buttons//
$homepage-background-button-color: rgba(0, 0, 0, 0.4);
$restaurant-background-button-color: #000000;
$room-page-background-button-color: #000000;
$hover-white-background-button-color: #ffffff;
$hover-yellow-background-button-color: #f3c653;
$lines-color: rgba(186, 186, 186, 0.4);
$border-white-button-color: #ffffff;
$border-yellow-button-color: #f3c653;

//Timing function//
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//Shadow//
$pictures-box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);

//Icons//
$fill-white-icons: #ffffff;
$fill-black-icons: #000000;
$fill-yellow-icons: #f3c653; 


// Gradient About our restaurant, Contacts, About our kitchen, Hotel Page, Room Page
$liner-gradient-main-mobile: linear-gradient(to right,
transparent 33%,
rgba(186, 186, 186, 0.4) 33%,
rgba(186, 186, 186, 0.4) 33.5%,
transparent 33.5%,
transparent 67%,
rgba(186, 186, 186, 0.4) 67%,
rgba(186, 186, 186, 0.4) 67.5%,
transparent 67.5%);
$liner-gradient-main-tablet: linear-gradient(to right,
transparent 25%,
rgba(186, 186, 186, 0.4) 25%,
rgba(186, 186, 186, 0.4) 25.2%,
transparent 25.2%,
transparent 50%,
rgba(186, 186, 186, 0.4) 50%,
rgba(186, 186, 186, 0.4) 50.2%,
transparent 50.2%,
transparent 75%,
rgba(186, 186, 186, 0.4) 75%,
rgba(186, 186, 186, 0.4) 75.2%,
transparent 75.2%);

// Gradient Details of our restaurant, Details of our hotel
$liner-gradient-details-mobile: linear-gradient(to right,
transparent 33%,
rgba(122, 122, 122, 0.4) 33%,
rgba(122, 122, 122, 0.4) 33.5%,
transparent 33.5%,
transparent 67%,
rgba(122, 122, 122, 0.4) 67%,
rgba(122, 122, 122, 0.4) 67.5%,
transparent 67.5%);
$liner-gradient-details-tablet: linear-gradient(to right,
transparent 25%,
rgba(122, 122, 122, 0.4) 25%,
rgba(122, 122, 122, 0.4) 25.2%,
transparent 25.2%,
transparent 50%,
rgba(122, 122, 122, 0.4) 50%,
rgba(122, 122, 122, 0.4) 50.2%,
transparent 50.2%,
transparent 75%,
rgba(122, 122, 122, 0.4) 75%,
rgba(122, 122, 122, 0.4) 75.2%,
transparent 75.2%);
$liner-gradient-details: linear-gradient(to right, 
rgba(0, 0, 0, 0.65),
rgba(0, 0, 0, 0.65));

// Gradient Footer
$liner-gradient-footer-mobile: linear-gradient(to right,
transparent 67%,
rgba(122, 122, 122, 0.4) 67%,
rgba(122, 122, 122, 0.4) 67.5%,
transparent 67.5%);
$liner-gradient-footer-tablet: linear-gradient(to right,
transparent 50%,
rgba(122, 122, 122, 0.4) 50%,
rgba(122, 122, 122, 0.4) 50.2%,
transparent 50.2%,
transparent 75%,
rgba(122, 122, 122, 0.4) 75%,
rgba(122, 122, 122, 0.4) 75.2%,
transparent 75.2%);