<section class="room-two">
  <div class="container">
    <div class="room-two__container-position">
      <span class="room-two__tagline">Amet minim mollit non</span>
      <p class="room-two__logo">Mimiho</p>
      <h2 class="room-two__title">Двомісний номер</h2>
      <p class="room-two__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="room-image">
        <source
          srcset="
            ./images/hotel-room2/apartment.jpg    1x,
            ./images/hotel-room2/apartment@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/hotel-room2/apartment-tablet.jpg    1x,
            ./images/hotel-room2/apartment-tablet@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hotel-room2/apartment-desktop.jpg    1x,
            ./images/hotel-room2/apartment-desktop@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <img
          class="room-image__base"
          src="./images/hotel-room2/apartment.jpg"
          alt="апартаменти"
        />
      </picture>
      <div class="room-two__container">
        <div class="room-two__swiper swiper pageSwiper">
          <div class="room-two__swiper-image swiper-wrapper">
            <div class="swiper-slide only-slide">
              <picture class="room-image">
                <source
                  srcset="
                    ./images/hotel-room2/bathroom.jpg    1x,
                    ./images/hotel-room2/bathroom@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/bathroom-tablet.jpg    1x,
                    ./images/hotel-room2/bathroom-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/bathroom-desktop.jpg    1x,
                    ./images/hotel-room2/bathroom-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="room-image__swipe"
                  src="./images/hotel-room2/bathroom.jpg"
                  alt="вид кімнати"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture class="room-image">
                <source
                  srcset="
                    ./images/hotel-room2/cup.jpg    1x,
                    ./images/hotel-room2/cup@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/cup-tablet.jpg    1x,
                    ./images/hotel-room2/cup-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/cup-desktop.jpg    1x,
                    ./images/hotel-room2/cup-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="room-image__swipe"
                  src="./images/hotel-room2/cup.jpg"
                  alt="чашка"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture class="room-image">
                <source
                  srcset="
                    ./images/hotel-room2/antechamber.jpg    1x,
                    ./images/hotel-room2/antechamber@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/antechamber-tablet.jpg    1x,
                    ./images/hotel-room2/antechamber-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/antechamber-desktop.jpg    1x,
                    ./images/hotel-room2/antechamber-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="room-image__swipe room-image__swipe--none"
                  src="./images/hotel-room2/antechamber.jpg"
                  alt="вид кімнати"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture class="room-image">
                <source
                  srcset="
                    ./images/hotel-room2/bath.jpg    1x,
                    ./images/hotel-room2/bath@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/bath-tablet.jpg    1x,
                    ./images/hotel-room2/bath-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/bath-desktop.jpg    1x,
                    ./images/hotel-room2/bath-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="room-image__swipe"
                  src="./images/hotel-room2/bath.jpg"
                  alt="вид кімнати"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture class="room-image">
                <source
                  srcset="
                    ./images/hotel-room2/interier.jpg    1x,
                    ./images/hotel-room2/interier@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/interier-tablet.jpg    1x,
                    ./images/hotel-room2/interier-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/interier-desktop.jpg    1x,
                    ./images/hotel-room2/interier-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="room-image__swipe"
                  src="./images/hotel-room2/interier.jpg"
                  alt="вид кімнати"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture class="room-image">
                <source
                  srcset="
                    ./images/hotel-room2/sofa.jpg    1x,
                    ./images/hotel-room2/sofa@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/sofa-tablet.jpg    1x,
                    ./images/hotel-room2/sofa-tablet@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/hotel-room2/sofa-desktop.jpg    1x,
                    ./images/hotel-room2/sofa-desktop@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="room-image__swipe"
                  src="./images/hotel-room2/sofa.jpg"
                  alt="вид кімнати"
                />
              </picture>
            </div>
          </div>
          <div class="room-two__svg">
            <svg class="room-two__svg-arrow button-prev" width="32" height="32">
              <use href="./svg/icon.svg#icon-arrow-left-new"></use>
            </svg>
            <svg class="room-two__svg-arrow button-next" width="32" height="32">
              <use href="./svg/icon.svg#icon-arrow-right-new"></use>
            </svg>
          </div>
        </div>
        <ul class="room-button">
          <li class="room-button__list">
            <button
              class="room-button__button"
              type="button"
              onclick="window.location.href = './room.html';"
            >
              Детальніше
            </button>
          </li>
          <li class="room-button__list">
            <button
              class="room-button__button"
              type="button"
              data-modal-open-price
            >
              Переглянути ціни
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
