<section class="room-two-luxe">
  <div class="container">
    <div class="room-two-luxe__container-position">
      <span class="room-two-luxe__tagline">Amet minim mollit non</span>
      <p class="room-two-luxe__logo">Mimiho</p>
      <h2 class="room-two-luxe__title">Двомісний номер</h2>
      <p class="room-two-luxe__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="room-image">
        <source
          srcset="
            ./images/hotel-room2/apartment.jpg    1x,
            ./images/hotel-room2/apartment@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/hotel-room2/apartment-tablet.jpg    1x,
            ./images/hotel-room2/apartment-tablet@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hotel-room2/apartment-desktop.jpg    1x,
            ./images/hotel-room2/apartment-desktop@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <img
          class="room-image__base"
          src="./images/hotel-room2/apartment.jpg"
          alt="апартаменти"
        />
      </picture>
      <div class="room-two-luxe__container">
        <div class="room-two-luxe__swiper">
          <div class="room-two-luxe__swiper-image">
            <picture сlass="room-image">
              <source
                srcset="
                  ./images/hotel-room2/bathroom.jpg    1x,
                  ./images/hotel-room2/bathroom@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/hotel-room2/bathroom-tablet.jpg    1x,
                  ./images/hotel-room2/bathroom-tablet@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/hotel-room2/bathroom-desktop.jpg    1x,
                  ./images/hotel-room2/bathroom-desktop@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                class="room-image__swipe room-image__swipe--none"
                src="./images/hotel-room2/bathroom.jpg"
                alt="ванна кімната"
              />
            </picture>
            <picture class="room-image">
              <source
                srcset="
                  ./images/hotel-room2/cup.jpg    1x,
                  ./images/hotel-room2/cup@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/hotel-room2/cup-tablet.jpg    1x,
                  ./images/hotel-room2/cup-tablet@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/hotel-room2/cup-desktop.jpg    1x,
                  ./images/hotel-room2/cup-desktop@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                class="room-image__swipe"
                src="./images/hotel-room2/cup.jpg"
                alt="чашка"
              />
            </picture>
          </div>
          <div class="room-two-luxe__svg">
            <a href="#">
              <svg
                class="room-two-luxe__svg-arrow"
                width="29.91"
                height="16.83"
              >
                <use href="./svg/icon.svg#icon-arrow-left-new"></use>
              </svg>
            </a>
            <a href="#">
              <svg
                class="room-two-luxe__svg-arrow"
                width="29.91"
                height="16.83"
              >
                <use href="./svg/icon.svg#icon-arrow-right-new"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="room-button">
          <a href="./room.html">
            <button class="room-button__button" type="button">
              Детальніше
            </button>
          </a>
          <a href="#">
            <button
              class="room-button__button"
              type="button"
              data-modal-open-price
            >
              Переглянути ціни
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
