<section class="room-two container">
  <div class="container">
    <span class="room-two__tagline">Amet minim mollit non</span>
    <p class="room-two__logo">Mimiho</p>
    <h2 class="room-two__title">Двомісний номер</h2>
    <p class="room-two__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="room-image">
      <source
        srcset="
          ./images/hotel-room2/apartment.jpg 1x,
          ./images/hotel-room2/apartment@2x.jpg 2x
        "
        type="image/jpeg"
      />

      <img
        class="room-image__base"
        class="room-picture"
        src="./images/hotel-room2/apartment.jpg"
        alt="apartment"
        width="246"
        height="322"
      />
    </picture>
    <picture lass="room-image">
      <source
        srcset="
          ./images/hotel-room2/bathroom.jpg 1x,
          ./images/hotel-room2/bathroom@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        class="room-image__swipe room-image__swipe--none"
        src="./images/hotel-room2/bathroom.jpg"
        alt="bathroom"
        width="194"
        height="194"
      />
    </picture lass="room-image">
    <picture>
      <source
        srcset="
          ./images/hotel-room2/cup.jpg 1x,
          ./images/hotel-room2/cup@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        class="room-image__swipe"
        src="./images/hotel-room2/cup.jpg"
        alt="cup"
        width="194"
        height="194"
      />
    </picture>
    <div class="room-two__svg">
      <a href="#">
        <svg class="room-two__svg-arrow" width="29.91" height="16.83">
          <use href="./svg/icon.svg#icon-arrow-left-new"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="room-two__svg-arrow" width="29.91" height="16.83">
          <use href="./svg/icon.svg#icon-arrow-right-new"></use>
        </svg>
      </a>
    </div>
    <a href="./room.html">
      <button class="room-button" type="button">Детальніше</button>
    </a>
    <a href="#">
      <button class="room-button" type="button">Переглянути ціни</button>
    </a>
  </div>
</section>
