<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>

    <div class="about-hotel__thumb-first">
      <span class="about-hotel__text">Amet minim mollit non</span>
      <p class="about-hotel__logo">Mimiho</p>
      <p class="about-hotel__description-first">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/hotel-room2/apartment.jpg    1x,
            ./images/hotel-room2/apartment@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="about-hotel__image-first"
          src="./images/hotel-room2/apartment.jpg"
          alt="bed in the room"
        />
      </picture>
    </div>
    <div class="about-hotel__thumb-second">
      <picture>
        <source
          srcset="./images/hotel/hotel.jpg 1x, ./images/hotel/hotel@2x.jpg 2x"
          type="image/jpg"
        />
        <img
          class="about-hotel__image-second"
          src="./images/hotel/hotel.jpg"
          alt="hotel lobby"
        />
      </picture>
      <p class="about-hotel__description-second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="swiper-about-hotel">
      <picture>
        <source
          srcset="
            ./images/hotel/hotel-registration.jpg    1x,
            ./images/hotel/hotel-registration@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="swiper-about-hotel__image"
          src="./images/hotel/hotel-registration.jpg"
          alt="woman signing a document at the reception desk"
        />
      </picture>
      <div class="swiper-about-hotel__svg">
        <a href="#">
          <svg
            class="swiper-about-hotel__svg-arrow"
            width="29.91"
            height="16.83"
          >
            <use href="./svg/icon.svg#icon-arrow-left-new"></use>
          </svg>
        </a>
        <a href="#">
          <svg
            class="swiper-about-hotel__svg-arrow"
            width="29.91"
            height="16.83"
          >
            <use href="./svg/icon.svg#icon-arrow-right-new"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
