<section class="section-contact">
  <div class="container">
    <div class="thumb--position">
      <div class="thumb__content">
        <h2 class="visually-hidden">Сторінка контактів</h2>
        <p class="main-title">mimiHo</p>
        <p class="title">Ресторанно-готельний комплекс</p>
        <ul class="contacts-list">
          <li class="contacts-list__iteam">
            <p class="contacts-list__restorant">Ресторан</p>
            <div class="contacts__thumb">
              <svg class="contacts__icon__tel" width="24" height="24">
                <use href="./svg/icon.svg#icon-phone"></use>
              </svg>
              <a href="tel:+380668491089" class="contacts__tel">095 555 95 33</a>
            </div>
          </li>
          <li class="contacts-list__iteam">
            <p class="contacts-list__hotel">Готель</p>
            <div class="contacts__thumb">
              <svg class="contacts__icon__tel" width="24" height="24">
                <use href="./svg/icon.svg#icon-phone"></use>
              </svg>
              <div class="contacts__thumb__tel">
                <a href="tel:+380668491089" class="contacts__tel">066 849 10 89</a>
                <a href="tel:+380672758540" class="contacts__tel">067 275 85 40</a>
            </div>
            </div>
          </li>
          <li class="contacts-list__iteam">
            <div class="contacts__thumb contacts__thumb__location">
              <a class="contacts__link"
                href="https://www.google.com/maps/place/Marshala+Biryuzova+St,+15,+Poltava,+Poltavs'ka+oblast,+Ukraine,+36000/@49.599194,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463"
                target="_blank" rel="noopener noreferrer nofollow">
                <svg class="contacts__icon__map" width="24" height="24">
                  <use href="./svg/icon.svg#icon-location"></use>
                </svg>Україна, м. Полтава,
                вул. Маршала Бірюзова, 15
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="thumb__map">
        <iframe class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23114.27611620765!2d34.539424414299134!3d49.581774550734835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNGX0L3QsCwgMzYwMDA!5e1!3m2!1suk!2spl!4v1669928766456!5m2!1suk!2spl"
          width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
