<section class="section-contact">
  <div class="container">
    <h2 class="visually-hidden">Сторінка контактів</h2>
    <p class="main-title">mimiHo</p>
    <p class="title">Ресторанно-готельний комплекс</p>
    <ul class="contacts-list">
      <li class="contacts-list__iteam">
        <p class="contacts-list__restorant">Ресторан</p>
        <div class="contacts__thumb">
          <p class="contacts__number">
            <svg class="contacts__icon" width="24" height="24">
              <use href="./svg/icon.svg#icon-phone"></use></svg
            >095 555 95 33
          </p>
        </div>
      </li>
      <li class="contacts-list__iteam">
        <p class="contacts-list__hotel">Готель</p>
        <div class="contacts__thumb">
          <p class="contacts__number">
            <svg class="contacts__icon" width="24" height="24">
              <use href="./svg/icon.svg#icon-phone"></use></svg
            >066 849 10 89
            <span class="contacts__number contacts__number--position"></span>
            067 275 85 40
          </p>
        </div>
      </li>
      <li class="contacts-list__iteam">
        <div class="contacts__thumb contacts__thumb--position">
          <p class="contacts__adress">
            <svg class="contacts__icon" width="24" height="24">
              <use href="./svg/icon.svg#icon-location"></use></svg
            >Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </p>
        </div>
      </li>
    </ul>
    <div class="thumb">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23114.27611620765!2d34.539424414299134!3d49.581774550734835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNGX0L3QsCwgMzYwMDA!5e1!3m2!1suk!2spl!4v1669928766456!5m2!1suk!2spl"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
