<section class="restaurant">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>

    <div class="restaurant__thumb-first">
      <span class="restaurant__text">Amet minim mollit non</span>
      <p class="restaurant__logo">Mimiho</p>
      <p class="restaurant__description-first">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/restaurant/restaurant-interior.jpg    1x,
            ./images/restaurant/restaurant-interior@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="restaurant__image-first"
          src="./images/restaurant/restaurant-interior.jpg"
          alt="tables in restaurant"
        />
      </picture>
    </div>
    <div class="restaurant__thumb-second">
      <picture>
        <source
          srcset="
            ./images/restaurant/pexels-oruri-jacome.jpg    1x,
            ./images/restaurant/pexels-oruri-jacome@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="restaurant__image-second"
          src="./images/restaurant/pexels-oruri-jacome.jpg"
          alt="tables and chairs in a restaurant"
        />
      </picture>
      <p class="restaurant__description-second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="swiper">
      <picture>
        <source
          srcset="
            ./images/restaurant/helena-lopes.jpg    1x,
            ./images/restaurant/helena-lopes@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="swiper__image"
          src="./images/restaurant/helena-lopes.jpg"
          alt="tables and chairs in a restaurant"
        />
      </picture>
      <div class="swiper__svg">
        <a href="#">
          <svg class="swiper__svg-arrow" width="29.91" height="16.83">
            <use href="./svg/icon.svg#icon-arrow-left-new"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="swiper__svg-arrow" width="29.91" height="16.83">
            <use href="./svg/icon.svg#icon-arrow-right-new"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
