<section class="hero restaurant-hero__overlay">
  <div class="container">
    <h1 lang="en" class="hero__title restaurant-hero__title">mimiho</h1>
    <p class="hero__subtitle restaurant-hero__subtitle">Ресторан</p>
    <p class="hero__subtitle-two">Смак життя 24/7</p>
    <ul class="container__hero-btn">
      <li>
        <button
          class="button hero__btn hero__btn--first"
          type="button"
          data-modal-open-table
        >
          Забронювати столик
        </button>
      </li>
      <li>
        <button
          class="button hero__btn hero__btn--second"
          type="button"
          data-modal-open-room
        >
          Забронювати номер
        </button>
      </li>
    </ul>
    <address>
      <a
        class="hero__link"
        href="https://www.google.com/maps/place/Marshala+Biryuzova+St,+15,+Poltava,+Poltavs'ka+oblast,+Ukraine,+36000/@49.599194,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero__icon" width="20" height="20">
          <use href="./svg/icon.svg#icon-location"></use></svg
        >Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>
    </address>
    <ul class="socials hero__socials">
      <li class="socials-item hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
