<section class="kitchen">
  <div class="container">
    <h2 class="visually-hidden">About our kitchen</h2>
    <p class="kitchen__text">Amet minim mollit non</p>
    <p class="kitchen__logo">Mimiho</p>
    <p class="kitchen__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/restaurant-interior.jpg    1x,
          ./images/restaurant-interior@2x.jpg 2x
        "
        media="(max-width: 1023px)"
        width="244"
        height="322"
      />
      <source
        srcset="
          ./images/kitchen/restaurant-interior-tablet.jpg    1x,
          ./images/kitchen/restaurant-interior-tablet@2x.jpg 2x
        "
        media="(min-width: 1024px)"
        width="400"
        height="524"
      />
      <source
        srcset="
          ./images/kitchen/restaurant-interior-desktop.jpg    1x,
          ./images/kitchen/restaurant-interior-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        width="460"
        height="574"
      />
      <img
        class="kitchen__foto-interior"
        src="./images/restaurant-interior.jpg"
        alt="Приготування блюда"
        width="244"
        height="322"
      />
    </picture>
    <div class="kitchen__flex">
      <picture>
        <source
          srcset="
            ./images/pexels-oruri-jacome.jpg    1x,
            ./images/pexels-oruri-jacome@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="200"
          height="228"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-meat-tablet.jpg    1x,
            ./images/kitchen/restaurant-meat-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          width="350"
          height="500"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-meat-desktop.jpg    1x,
            ./images/kitchen/restaurant-meat-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="460"
          height="574"
        />
        <img
          class="kitchen__foto-meat"
          srcset="
            ./images/pexels-oruri-jacome.jpg    1x,
            ./images/pexels-oruri-jacome@2x.jpg 2x
          "
          src="./images/pexels-oruri-jacome.jpg"
          alt="Приготування блюда"
          width="200"
          height="228"
        />
      </picture>
      <p class="kitchen__description kitchen__description--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="kitchen__flex-foto">
      <picture>
        <source
          srcset="
            ./images/pexels-helena-lopes.jpg    1x,
            ./images/pexels-helena-lopes@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="245"
          height="245"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-flour-tablet.jpg    1x,
            ./images/kitchen/restaurant-flour-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          width="194"
          height="194"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-flour-desktop.jpg 1x,
            ./images/kitchen/restaurant-flour-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="245"
          height="245"
        />
        <img
          class="kitchen__foto-flour"
          srcset="
            ./images/pexels-helena-lopes.jpg    1x,
            ./images/pexels-helena-lopes@2x.jpg 2x
          "
          src="./images/pexels-helena-lopes.jpg"
          alt="Приготування блюда"
          width="245"
          height="245"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/restaurant-tkemali.jpg    1x,
            ./images/restaurant-tkemali@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          width="60"
          height="245"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-tkemali-tablet.jpg    1x,
            ./images/kitchen/restaurant-tkemali-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          width="194"
          height="194"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-tkemali-desktop.jpg    1x,
            ./images/kitchen/restaurant-tkemali-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          width="245"
          height="245"
        />
        <img
          class="kitchen__foto-tkemali"
          srcset="
            ./images/restaurant-tkemali.jpg    1x,
            ./images/restaurant-tkemali@2x.jpg 2x
          "
          src="./images/restaurant-tkemali.jpg"
          alt="Приготування блюда"
          width="60"
          height="245"
        />
      </picture>
    </div>
    <svg width="32" height="32">
      <use href="./svg/icon.svg#icon-arrow-left"></use>
    </svg>
    <svg width="32" height="32">
      <use href="./svg/icon.svg#icon-arrow-right"></use>
    </svg>
  </div>
</section>
