<section class="kitchen">
  <div class="container">
    <h2 class="visually-hidden">About our kitchen</h2>
    <p class="kitchen__text">Amet minim mollit non</p>
    <p class="kitchen__logo">Міміно</p>
    <p class="kitchen__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="kitchen__foto kitchen__foto--position kitchen__foto--right"
      srcset="
        ./images/restaurant-interior.jpg    1x,
        ./images/restaurant-interior@2x.jpg 2x
      "
      src="./images/restaurant-interior.jpg"
      alt="Приготування блюда"
      width="244"
      height="322"
    />
    <div class="kitchen__flex">
      <img
        class="kitchen__foto kitchen__foto--position"
        srcset="
          ./images/pexels-oruri-jacome.jpg    1x,
          ./images/pexels-oruri-jacome@2x.jpg 2x
        "
        src="./images/pexels-oruri-jacome.jpg"
        alt="Приготування блюда"
        width="200"
        height="228"
      />
      <p class="kitchen__description kitchen__description--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <img
      class="kitchen__foto kitchen__foto--centr"
      srcset="
        ./images/pexels-helena-lopes.jpg    1x,
        ./images/pexels-helena-lopes@2x.jpg 2x
      "
      src="./images/pexels-helena-lopes.jpg"
      alt="Приготування блюда"
      width="245"
      height="245"
    />
    <svg width="32" height="32">
      <use href="./svg/icon.svg#icon-arrow-left"></use>
    </svg>
    <svg width="32" height="32">
      <use href="./svg/icon.svg#icon-arrow-right"></use>
    </svg>
  </div>
</section>
