<section class="kitchen">
  <div class="container">
    <div class="kitchen__position-container">
      <h2 class="visually-hidden">About our kitchen</h2>
      <p class="kitchen__text">Amet minim mollit non</p>
      <p class="kitchen__logo">Mimiho</p>
      <p class="kitchen__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/kitchen/restaurant-interior.jpg    1x,
            ./images/kitchen/restaurant-interior@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-interior-tablet.jpg    1x,
            ./images/kitchen/restaurant-interior-tablet@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/kitchen/restaurant-interior-desktop.jpg    1x,
            ./images/kitchen/restaurant-interior-desktop@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <img
          class="kitchen__foto-interior"
          src="./images/kitchen/restaurant-interior.jpg"
          alt="Приготування блюда"
        />
      </picture>
      <div class="kitchen__flex">
        <picture>
          <source
            srcset="
              ./images/kitchen/restaurant-meat-mobile.jpg    1x,
              ./images/kitchen/restaurant-meat-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/kitchen/restaurant-meat-tablet.jpg    1x,
              ./images/kitchen/restaurant-meat-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/kitchen/restaurant-meat-desktop.jpg    1x,
              ./images/kitchen/restaurant-meat-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="kitchen__foto-meat"
            srcset="
              ./images/kitchen/restaurant-meat-mobile.jpg    1x,
              ./images/kitchen/restaurant-meat-mobile@2x.jpg 2x
            "
            src="./images/kitchen/pexels-oruri-jacome.jpg"
            alt="Приготування блюда"
          />
        </picture>
        <p class="kitchen__description kitchen__description--brown">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="kitchen__flex-foto swiper pageSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide only-slide">
            <picture>
              <source
                srcset="
                  ./images/kitchen/pexels-helena-lopes.jpg    1x,
                  ./images/kitchen/pexels-helena-lopes@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/kitchen/restaurant-flour-tablet.jpg    1x,
                  ./images/kitchen/restaurant-flour-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/kitchen/restaurant-flour-desktop.jpg    1x,
                  ./images/kitchen/restaurant-flour-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="kitchen__foto-flour"
                srcset="
                  ./images/kitchen/pexels-helena-lopes.jpg    1x,
                  ./images/kitchen/pexels-helena-lopes@2x.jpg 2x
                "
                src="./images/kitchen/pexels-helena-lopes.jpg"
                alt="Приготування блюда"
              />
            </picture>
          </div>
          <div class="swiper-slide only-slide">
            <picture>
              <source
                srcset="
                  ./images/kitchen/restaurant-tkemali.jpg    1x,
                  ./images/kitchen/restaurant-tkemali@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/kitchen/restaurant-tkemali-tablet.jpg    1x,
                  ./images/kitchen/restaurant-tkemali-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/kitchen/restaurant-tkemali-desktop.jpg    1x,
                  ./images/kitchen/restaurant-tkemali-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="kitchen__foto-tkemali"
                srcset="
                  ./images/kitchen/restaurant-tkemali.jpg    1x,
                  ./images/kitchen/restaurant-tkemali@2x.jpg 2x
                "
                src="./images/kitchen/restaurant-tkemali.jpg"
                alt="Приготування блюда"
              />
            </picture>
          </div>
          <div class="swiper-slide only-slide">
            <picture>
              <source
                srcset="
                  ./images/kitchen/kitchen-one.jpg    1x,
                  ./images/kitchen/kitchen-one@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-one-tablet.jpg    1x,
                  ./images/kitchen/kitchen-one-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-one-desktop.jpg    1x,
                  ./images/kitchen/kitchen-one-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="kitchen__foto-flour"
                srcset="
                  ./images/kitchen/kitchen-one.jpg    1x,
                  ./images/kitchen/kitchen-one@2x.jpg 2x
                "
                src="./images/kitchen/kitchen-one.jpg"
                alt="Приготування блюда"
              />
            </picture>
          </div>
          <div class="swiper-slide only-slide">
            <picture>
              <source
                srcset="
                  ./images/kitchen/kitchen-two.jpg    1x,
                  ./images/kitchen/kitchen-two@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-two-tablet.jpg    1x,
                  ./images/kitchen/kitchen-two-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-two-desktop.jpg    1x,
                  ./images/kitchen/kitchen-two-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="kitchen__foto-tkemali"
                srcset="
                  ./images/kitchen/kitchen-two.jpg    1x,
                  ./images/kitchen/kitchen-two@2x.jpg 2x
                "
                src="./images/kitchen/kitchen-two.jpg"
                alt="Приготування блюда"
              />
            </picture>
          </div>
          <div class="swiper-slide only-slide">
            <picture>
              <source
                srcset="
                  ./images/kitchen/kitchen-three.jpg    1x,
                  ./images/kitchen/kitchen-three@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-three-tablet.jpg    1x,
                  ./images/kitchen/kitchen-three-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-three-desktop.jpg    1x,
                  ./images/kitchen/kitchen-three-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="kitchen__foto-flour"
                srcset="
                  ./images/kitchen/kitchen-three.jpg    1x,
                  ./images/kitchen/kitchen-three@2x.jpg 2x
                "
                src="./images/kitchen/kitchen-three.jpg"
                alt="Приготування блюда"
              />
            </picture>
          </div>
          <div class="swiper-slide only-slide">
            <picture>
              <source
                srcset="
                  ./images/kitchen/kitchen-for.jpg    1x,
                  ./images/kitchen/kitchen-for@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-for-tablet.jpg    1x,
                  ./images/kitchen/kitchen-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/kitchen/kitchen-for-desktop.jpg    1x,
                  ./images/kitchen/kitchen-for-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="kitchen__foto-tkemali"
                srcset="
                  ./images/kitchen/kitchen-for.jpg    1x,
                  ./images/kitchen/kitchen-for@2x.jpg 2x
                "
                src="./images/kitchen/kitchen-for.jpg"
                alt="Приготування блюда"
              />
            </picture>
          </div>
        </div>
        <div class="kitchen__flex-svg">
          <svg class="kitchen__svg-arrow button-prev" width="32" height="32">
            <use href="./svg/icon.svg#icon-arrow-left"></use>
          </svg>
          <svg class="kitchen__svg-arrow button-next" width="32" height="32">
            <use href="./svg/icon.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
