<!--Інклуд для вставки в основний файл сторінки:
	<include src="./partials/rstaurant-pages/menu.html"></include>
-->
<!--Секція меню-->
<section class="menu">
  <div class="container">
    <h2 class="menu__title">МЕНЮ РЕСТОРАНУ</h2>

    <div class="table-container">
      <div class="table-container__left">
        <table class="menu__table">
          <caption class="menu__caption">
            Гарячі страви
          </caption>
          <tr>
            <td class="menu__name">Борщ з телятини з квасолею</td>
            <td class="menu__portion" rowspan="2">400 г</td>
            <td class="menu__price" rowspan="2">240 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
          </tr>
          <tr>
            <td class="menu__name">Суп сирний з куркою</td>
            <td class="menu__portion" rowspan="2">400 г</td>
            <td class="menu__price" rowspan="2">200 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
          </tr>
          <tr>
            <td class="menu__name">Паста карбонара</td>
            <td class="menu__portion" rowspan="2">350 г</td>
            <td class="menu__price" rowspan="2">430 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
          </tr>
          <tr>
            <td class="menu__name">Стейк зі свинини</td>
            <td class="menu__portion" rowspan="2">400 г</td>
            <td class="menu__price" rowspan="2">500 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
          </tr>
          <tr>
            <td class="menu__name">Горбуша в соусі з білого вина</td>
            <td class="menu__portion" rowspan="2">400 г</td>
            <td class="menu__price" rowspan="2">400 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
          </tr>
        </table>
        <table class="menu__table menu__table--margin">
          <caption class="menu__caption">
            Гарніри та закуски
          </caption>
          <tr>
            <td class="menu__name">Запечені овочі</td>
            <td class="menu__portion" rowspan="2">200 г</td>
            <td class="menu__price" rowspan="2">230 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Кабачок, перець, помідор, баклажан
            </td>
          </tr>
          <tr>
            <td class="menu__name">Картопля фрі</td>
            <td class="menu__portion" rowspan="2">150 г</td>
            <td class="menu__price" rowspan="2">160 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">Картопля, соус томатний</td>
          </tr>
          <tr>
            <td class="menu__name">Картопля по-селянськи</td>
            <td class="menu__portion" rowspan="2">150 г</td>
            <td class="menu__price" rowspan="2">160 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">Картопля, спеції, соус пікантний</td>
          </tr>
          <tr>
            <td class="menu__name">Хрумкі соління з бочки</td>
            <td class="menu__portion" rowspan="2">250 г</td>
            <td class="menu__price" rowspan="2">350 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
          </tr>
          <tr>
            <td class="menu__name">Крильця курячі в медовому соусі</td>
            <td class="menu__portion" rowspan="2">400 г</td>
            <td class="menu__price" rowspan="2">420 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
          </tr>
        </table>
      </div>
      <div class="table-container__right">
        <table class="menu__table">
          <caption class="menu__caption">
            Салати
          </caption>
          <tr>
            <td class="menu__name">Цезар з куркою</td>
            <td class="menu__portion" rowspan="2">230 г</td>
            <td class="menu__price" rowspan="2">450 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu__name">Цезар з креветками</td>
            <td class="menu__portion" rowspan="2">230 г</td>
            <td class="menu__price" rowspan="2">300 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu__name">Грецький салат</td>
            <td class="menu__portion" rowspan="2">230 г</td>
            <td class="menu__price" rowspan="2">280 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
          </tr>
          <tr>
            <td class="menu__name">М’ясний салат</td>
            <td class="menu__portion" rowspan="2">230 г</td>
            <td class="menu__price" rowspan="2">300 грн</td>
          </tr>
          <tr>
            <td class="menu__ingredients">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
          </tr>
        </table>
        <table class="menu__table">
          <caption class="menu__caption">
            Десерти
          </caption>
          <tr>
            <td class="menu__name">Торт наполеон</td>
            <td class="menu__portion">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__name">Торт маковий</td>
            <td class="menu__portion">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__name">Тірамісу</td>
            <td class="menu__portion">120 г</td>
            <td class="menu__price">260 грн</td>
          </tr>
        </table>
        <table class="menu__table menu__table--margin">
          <caption class="menu__caption">
            Напої
          </caption>
          <tr>
            <td class="menu__name">Чай чорний/зелений</td>
            <td class="menu__portion">500 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__name">Еспресо</td>
            <td class="menu__portion">30 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__name">Американо</td>
            <td class="menu__portion">150 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__name">Капучино</td>
            <td class="menu__portion">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__name">Лате</td>
            <td class="menu__portion">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
        </table>
      </div>
    </div>

    <button class="menu__button button" type="button" data-modal-open-table>
      Забронювати столик
    </button>
  </div>
</section>
