<section class="amenities-section">
  <div class="container">
    <h2 class="amenities-section__title">Зручності у номері</h2>
    <p class="amenities-section__text amenities-section__text--first-size">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-section__list">
      <li class="amenities-section__item">
        <h3 class="amenities-section__subtitle">Загальні</h3>
        <div class="amenities-section__first-text-wrapper">
          <p
            class="amenities-section__text amenities-section__text--second-size"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p
            class="amenities-section__text amenities-section__text--second-size"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-section__item">
        <h3 class="amenities-section__subtitle">Ванна кімната</h3>
        <div class="amenities-section__second-text-wrapper">
          <p
            class="amenities-section__text amenities-section__text--third-size"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p
            class="amenities-section__text amenities-section__text--second-size"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-section__item">
        <h3 class="amenities-section__subtitle">Спальня</h3>
        <p class="amenities-section__text amenities-section__text--second-size">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-section__item">
        <h3 class="amenities-section__subtitle">Кухня</h3>
        <div class="amenities-section__first-text-wrapper">
          <p
            class="amenities-section__text amenities-section__text--second-size"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p
            class="amenities-section__text amenities-section__text--second-size"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-section__item">
        <h3 class="amenities-section__subtitle">Медіа</h3>
        <p class="amenities-section__text amenities-section__text--second-size">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button
      class="amenities-section__button"
      type="button"
      data-modal-open-room
    >
      Оформити бронювання
    </button>
    <a class="amenities-section__link" href="././hotel.html"
      >Повернутися до перегляду номерів
      <svg class="amenities-section__icon" width="24px" height="24px">
        <use href="./svg/icon.svg#icon-arrow-right-new"></use>
      </svg>
    </a>
  </div>
</section>
