<section class="room-hero">
  <div class="room-hero__container">
    <!-- Swiper -->
    <div class="swiper hero-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero-images/hotel-hero-desktop.jpg    1x,
                ./images/hero-images/hotel-hero-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-images/hotel-hero-tablet.jpg    1x,
                ./images/hero-images/hotel-hero-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero-images/hotel-hero-mobile.jpg    1x,
                ./images/hero-images/hotel-hero-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/hero-images/hotel-hero-mobile.jpg"
              alt="Зображення кімнати готелю"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero-images/main-hero-desktop.jpg    1x,
                ./images/hero-images/main-hero-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-images/main-hero-tablet.jpg    1x,
                ./images/hero-images/main-hero-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero-images/main-hero-mobile.jpg    1x,
                ./images/hero-images/main-hero-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/hero-images/main-hero-mobile.jpg"
              alt="Зображення кімнати готелю"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero-images/hotel-hero-desktop.jpg    1x,
                ./images/hero-images/hotel-hero-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-images/hotel-hero-tablet.jpg    1x,
                ./images/hero-images/hotel-hero-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero-images/hotel-hero-mobile.jpg    1x,
                ./images/hero-images/hotel-hero-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/hero-images/hotel-hero-mobile.jpg"
              alt="Зображення кімнати готелю"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero-images/main-hero-desktop.jpg    1x,
                ./images/hero-images/main-hero-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-images/main-hero-tablet.jpg    1x,
                ./images/hero-images/main-hero-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero-images/main-hero-mobile.jpg    1x,
                ./images/hero-images/main-hero-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/hero-images/main-hero-mobile.jpg"
              alt="Зображення кімнати готелю"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-button-prev room-hero__slider-button">
        <svg class="room-hero__icon-btn" width="40" height="40">
          <use href="./svg/icon.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next room-hero__slider-button">
        <svg class="room-hero__icon-btn" width="40" height="40">
          <use href="./svg/icon.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>

    <div class="room-hero__text-wrap">
      <h1 class="room-hero__title">
        Двомісний номер
        <span class="room-hero__title-small">люкс</span>
      </h1>
      <p class="room-hero__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <button class="room-hero__btn" type="button" data-modal-open-price>
      Переглянути ціни
    </button>
    <a
      class="hero__link room-hero__link"
      href="https://goo.gl/maps/pxmifmAcoBnW9BxBA"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="hero__icon" width="20" height="20">
        <use href="./svg/icon.svg#icon-location"></use></svg
      >Україна, м. Полтава,<br />
      вул. Маршала Бірюзова, 15
    </a>
    <ul class="socials room-hero__socials">
      <li class="socials-item room-hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item room-hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item room-hero__socials-item">
        <a
          class="socials__link"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./svg/icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
