<!-- Модальне вікно для бронювання номеру -->
<section class="room-reservation">
  <div class="backdrop is-hidden" data-modal-room>
    <h2 class="table-reservation__title visually-hidden">ЗАБРОНЮВАТИ НОМЕР</h2>
    <div class="modal">
      <button class="modal__btn-close" data-modal-close-room>
        <svg class="modal__btn-close-icon" width="24px" height="24px">
          <use href="././svg/icon.svg#icon-close"></use>
        </svg>
      </button>

      <h3 class="modal__title">Забронювати номер</h3>
      <form class="modal__form">
        <div class="box room-box">
          <label class="modal__form-label room-box__item">
            <input
              type="text"
              class="modal__form-input"
              name="user-name"
              placeholder="Ваше ім'я"
              pattern="[A-Za-zА-Яа-яЁё]"
            />
            <span class="modal__form-title">На кого забронювати столик?</span>
          </label>

          <label class="modal__form-label room-box__item">
            <input
              type="tel"
              class="modal__form-input"
              name="user-phone"
              placeholder="+38 (___) ___-__-__"
              pattern="^\(\d{3}\)\d{3}-\d{2}-\d{2}$"
            />
            <span class="modal__form-title">Номер телефону</span>
          </label>

          <label
            class="modal__form-label modal__form-label--select room-box__item"
          >
            <select class="modal__form-input" name="user-room">
              <option value="1">Двомісний</option>
              <option value="2" selected>Двомісний люкс</option>
              <option value="3">Трьохмісний</option>
            </select>
            <span class="modal__form-title"> Категорія номеру </span>
          </label>

          <label
            class="modal__form-label modal__form-label--select room-box__item"
          >
            <select class="modal__form-input" name="user-amount-people">
              <option value="today" selected>Сьогодні</option>
              <option value="monday">Понеділок</option>
              <option value="Tuesday">Вівторок</option>
              <option value="Wednesday">Середа</option>
              <option value="Thursday">Четвер</option>
              <option value="Friday">П'ятниця</option>
              <option value="Saturday">Субота</option>
              <option value="Sunday">Неділя</option>
            </select>
            <span class="modal__form-title"> Дата заїзду </span>
          </label>

          <label
            class="modal__form-label modal__form-label--select room-box__item"
          >
            <select class="modal__form-input" name="user-amount-people">
              <option value="today" selected>Сьогодні</option>
              <option value="monday">Понеділок</option>
              <option value="Tuesday">Вівторок</option>
              <option value="Wednesday">Середа</option>
              <option value="Thursday">Четвер</option>
              <option value="Friday">П'ятниця</option>
              <option value="Saturday">Субота</option>
              <option value="Sunday">Неділя</option>
            </select>
            <span class="modal__form-title"> Дата виїзду </span>
          </label>
        </div>

        <button type="submit" class="modal__btn">Оформити бронювання</button>
      </form>
    </div>
  </div>
</section>
