<!-- Модальне вікно цін наномер -->
<section class="room-prices">
  <div class="backdrop is-hidden" data-modal-price>
    <h2 class="table-reservation__title visually-hidden">ЗАБРОНЮВАТИ НОМЕР</h2>
    <div class="modal">
      <button class="modal__btn-close" data-modal-close-price>
        <svg class="modal__btn-close-icon" width="24px" height="24px">
          <use href="././svg/icon.svg#icon-close"></use>
        </svg>
      </button>

      <h3 class="modal__title">Ціни на номер</h3>
      <form class="modal__form">
        <div class="box">
          <div class="modal__form-label">
            <span class="modal__price-room-type">Двомісний люкс</span>
            <span class="modal__form-title modal__form-title--price-first">
              Категорія номеру
            </span>
          </div>

          <div class="box-price">
            <label
              class="modal__form-label modal__form-label--select box-price__item"
            >
              <select class="modal__form-input" name="user-amount-people">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
              <span class="modal__form-title"> Кількість ночей </span>
            </label>

            <label class="modal__form-label box-price__item">
              <input
                type="tel"
                class="modal__form-input"
                name="user-phone"
                placeholder="1000"
              />
              <span class="modal__form-title">грн</span>
            </label>
          </div>
        </div>

        <button type="submit" class="modal__btn">забронювати номер</button>
      </form>
    </div>
  </div>
</section>
