.room-box {
   @media screen and (min-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
   }
}
.room-box__item {
   @media screen and (min-width: 1024px) {
      width: calc((100% - 16px) / 2);

      &:nth-child(3) {
         width: 100%;
         margin-left: 304px;
      }
      &:nth-last-child(-n + 2) {
         margin-bottom: 0px;
      }
   }
}
