.details__section--hotel {
    max-width: 414px;
    margin: 0 auto;

    background-color:rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)), url("../images/details-hotel/hotel-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2), 
    screen and (min-resolution: 192dpi), 
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)), url("../images/details-hotel/hotel-mobile@2x.jpg");
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
        // height: 620px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)), url("../images/details-hotel/hotel-tablet.jpg");

        @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi), 
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url("../images/details-hotel/hotel-tablet@2x.jpg");
        }
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url("../images/details-hotel/hotel-desktop.jpg");
    
        @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi), 
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url("../images/details-hotel/hotel-desktop@2x.jpg");
       }
    
       }

}
.details__container--hotel {
    width: 100%;
    padding: 24px 140px 48px 32px;

    @media screen and (min-width: 1024px) {
        padding: 48px 278px 40px 197px;
        
    }
    @media screen and (min-width: 1280px) {
        padding: 48px 338px 40px 347px;
    }
}
.details__subtitle--hotel {
    text-align: end;
}
.details__title--hotel {
    text-align: end;
}
.details__wrapper--hotel{
    flex-direction: row;
    justify-content: end;
}
.slider__container--hotel {
    padding-right: 40px;
    @media screen and (min-width: 1024px) {
        padding-right: 0;
    }
}
.details__slider--hotel {
    flex-direction: row-reverse;
}

.details__icon--hotel {
    flex-direction: row-reverse;
}
.button__container--hotel {
    @media screen and (min-width: 1024px) {
        padding: 0 47px 100px 0;
        justify-content: flex-end;
    
    }
    @media screen and (min-width: 1280px) {
        padding-right: 85px;

    }
}