<footer class="footer">
  <div class="container first-footer">
    <div class="footer__container"></div>
    <a href="./index.html" class="footer__logo">mimiho</a>
    <div class="nav-and-social">
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="./index.html" class="footer-list__link">Головна</a>
        </li>
        <li class="footer-list__item">
          <a href="./restaurant.html" class="footer-list__link">Ресторан</a>
        </li>
        <li class="footer-list__item">
          <a href="./hotel.html" class="footer-list__link">Готель</a>
        </li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social__item">
          <div class="footer-social__container">
            <a
              href="https://web.telegram.org/k/"
              class="footer-social__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <span class="footer-social__text">Telegram</span>
              <svg width="24" height="24" class="footer-social__icon">
                <use href="./svg/icon.svg#icon-telegram"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="footer-social__item">
          <div class="footer-social__container">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-social__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <span class="footer-social__text">Facebook</span>
              <svg width="24" height="24" class="footer-social__icon">
                <use href="./svg/icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="footer-social__item">
          <div class="footer-social__container">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <span class="footer-social__text">Instagram</span>
              <svg width="24" height="24" class="footer-social__icon">
                <use href="./svg/icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
