<footer class="footer">
  <div class="container first-footer">
    <div class="footer__container"></div>
    <a href="/" class="footer__logo">mimino</a>
    <nav class="footer-navigation">
      <ul class="footer-navigation__list">
        <li class="footer-navigation__item">
          <a href="/" class="footer-navigation__link">Головна</a>
        </li>
        <li class="footer-navigation__item">
          <a href="/" class="footer-navigation__link">Ресторан</a>
        </li>
        <li class="footer-navigation__item">
          <a href="/" class="footer-navigation__link">Готель</a>
        </li>
      </ul>
    </nav>
    <ul class="footer-social">
      <li class="footer-social__item">
        <div class="footer-social__container">
          <a href="/" class="footer-social__link" target="_blank">Telegram</a>
          <svg width="24" height="24" class="footer-social__icon">
            <use href="./svg/icon.svg#icon-telegram"></use>
          </svg>
        </div>
      </li>
      <li class="footer-social__item">
        <div class="footer-social__container">
          <a href="/" class="footer-social__link" target="_blank">Facebook</a>
          <svg width="24" height="24" class="footer-social__icon">
            <use href="./svg/icon.svg#icon-facebook"></use>
          </svg>
        </div>
      </li>
      <li class="footer-social__item">
        <div class="footer-social__container">
          <a href="/" class="footer-social__link" target="_blank">Instagram</a>
          <svg width="24" height="24" class="footer-social__icon">
            <use href="./svg/icon.svg#icon-instagram"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</footer>
