<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="header__logo">mimiho</a>
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="./restaurant.html" class="navigation__link">Ресторан</a>
        <div class="navigation__cont">
          <a href="tel:+380955559533" class="navigation__tel">
            <svg width="24" height="24" class="navigation__icon">
              <use href="./svg/icon.svg#icon-phone"></use>
            </svg>
            <span class="navigation__text">095 555 95 33</span>
          </a>
        </div>
      </li>
      <li class="navigation__item">
        <a href="./hotel.html" class="navigation__link">Готель</a>
        <div class="navigation__cont">
          <a href="tel:+380668491089" class="navigation__tel"
            ><svg width="24" height="24" class="navigation__icon">
              <use href="./svg/icon.svg#icon-phone"></use>
            </svg>
            <span class="navigation__text">066 849 10 89</span></a
          >
          <a href="tel:+380672758540" class="navigation__tel">
            <span class="navigation__text">067 275 85 40</span>
          </a>
        </div>
      </li>
    </ul>
    <ul class="socialnet">
      <li class="socialnet__item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="socialnet__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="24" height="24">
            <use href="./svg/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socialnet__item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="socialnet__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="24" height="24">
            <use href="./svg/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socialnet__item">
        <a
          href="https://web.telegram.org/k/"
          class="socialnet__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="24" height="24">
            <use href="./svg/icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
