.button {
	width: 100%;
	padding: 14px 22px 12px 22px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	letter-spacing: 0.02em;
	cursor: pointer;
	border: 2px solid $border-white-button-color;
	border-radius: 25px;
	color: $yellow-accent-color;
	background-color: $homepage-background-button-color;

	@include mobile {
		max-width: 238px;
	}

	&:hover,
	&:focus {
		background-color: $hover-white-background-button-color;
	}
}