.hero .container {
	position: relative;
}

.hero {
	background-color: #2f303a;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 181px;

	@media screen and (min-width: 1024px) {
		padding-bottom: 15px;
		padding-top: 188px;
	}
	@media screen and (min-width: 1280px) {
		padding-top: 164px;
		padding-bottom: 65px;
	}
}
.container__hero-btn {
	margin-bottom: 58px;
	@media screen and (min-width: 1024px) {
		display: flex;
		gap: 40px;
		justify-content: end;
		margin-bottom: 28px;
	}
	@media screen and (min-width: 1280px) {
		margin-bottom: 0px;
	}
}
.hero__btn {
	display: block;
	margin: 0 auto;

	transition:	background-color 250ms $timing-function, 
	border-color 250ms $timing-function;

	@media screen and (min-width: 1024px) {
		margin: 0;
	}

	&:hover,
	&:focus {
		background-color: $hover-white-background-button-color;
		border-color: $yellow-accent-color;
	}

	&:disabled {
		background-color: $restaurant-background-button-color;
	}
}

.hero__btn--first {
	margin-bottom: 24px;
	@media screen and (min-width: 1024px) {
		margin-bottom: 0;
	}
}

.hero__socials {
	display: flex;
	justify-content: flex-start;
	@media screen and (min-width: 1280px) {
		display: none;
	}
}

.hero__socials-item:not(:last-child) {
	margin-right: 20px;
}
.hero__title {
	font-family: 'Film P3', monospace;
	font-weight: 700;
	font-size: 96px;
	line-height: 1.07;
	letter-spacing: 0.3em;
   text-transform: uppercase;
	text-align: center;
	color: $white-text-color;

	@media screen and (min-width: 1024px) {
		font-size: 128px;
	}

	
}
.hero__subtitle {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	color: $white-text-color;

	@media screen and (min-width: 1024px) {
		font-size: 20px;
		line-height: 1.2;
	}
}

.hero__subtitle-two {
	margin-bottom: 113px;
	font-family: 'Times New Roman', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.15;
	letter-spacing: 0.05em;
   text-transform: uppercase;
	color: $white-text-color;

	@media screen and (min-width: 1024px) {
		margin-bottom: 145px;
	}
}

.hero__link {
	position: absolute;
	top: -20%;
	// top: 64px;
	right: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 8px 3px 9px 6px;
	min-width: 210px;
	height: 48px;
	text-align: start;
	border: 1px solid rgba(243, 198, 83, 0.7);
	border-radius: 2px;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.01em;
	font-weight: 400;
	font-style: normal;
	z-index: 1;
	color: #E5E5E5;
	transition: border-color 250ms $timing-function;
		
		&:hover,
		&:focus {
		   border-color: $yellow-accent-color;
		}

	@media screen and (min-width: 1024px) {
		font-size: 16px;
		padding: 8px 8px 8px 10px;
		width: 285px;
		top: auto;
		right: auto;
		bottom: 56px;
		left: 48px;
	}

	@media screen and (min-width: 1280px) {
		bottom: 0px;
		left: auto;
	}
}

.hero__icon {
	display: block;
	margin-right: 8px;
	fill: rgba(243, 198, 83, 0.7);
	transition: fill 250ms $timing-function;
	
	.hero__link:hover &,
	.hero__link:focus & {
		fill: $yellow-accent-color;
	}

}