.details__section--restoran {
    max-width: 414px;
    margin: 0 auto;

    background-color:rgba(0, 0, 0, 0.65);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)), url("../images/details-restoran/restoran-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2), 
    screen and (min-resolution: 192dpi), 
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)), url("../images/details-restoran/restoran-mobile@2x.jpg");
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
        // height: 620px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)), url("../images/details-restoran/restoran-tablet.jpg");

        @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi), 
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url("../images/details-restoran/restoran-tablet@2x.jpg");
        }
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url("../images/details-restoran/restoran-desktop.jpg");
    
        @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi), 
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url("../images/details-restoran/restoran-desktop@2x.jpg");
       }
    
       }

}
.details__container--restoran {
    width: 100%;
    padding: 24px 15px 48px 140px;

    @media screen and (min-width: 1024px) {
        padding: 48px 136px 40px 278px;
        
    }
    @media screen and (min-width: 1280px) {
        padding: 48px 332px 40px 338px;
    }


}
.details__subtitle {
    margin-bottom: 12px;
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;

    color: $white-text-color;
    @media screen and (min-width: 1024px) {
        margin-bottom: 16px;
        font-size: 64px;
   
    }

}

.details__title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $white-text-color;

    

    @media screen and (min-width: 1024px) {
        margin-bottom: 8px;
        font-size: 24px; 
    }
}

.details__text {
    width: 238px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #bababa;

    @media screen and (min-width: 1024px) {
        width: 550px;
        font-size: 16px; 
    }
}
.details__wrapper {
    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 29px;
        flex-direction: row-reverse;
        justify-content: start;

    }
    @media screen and (min-width: 1280px) {
        gap: 32px;
    }
    
}

.slider__container {
    padding-left: 40px;
    @media screen and (min-width: 1024px) {
        padding-left: 0;
    }
   

}
.details__slider {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 20px;

    @media screen and (min-width: 1024px) {
        gap: 34px;
    }
    @media screen and (min-width: 1280px) {
        gap: 87px;
    }
}
.slider-item {
    margin-bottom: 16px;


    @media screen and (min-width: 1024px) {
        margin-bottom: 24px;
    }
}
.details-image {
    background-color: #bababa;
    border-radius: 2px;
}
.details-image--tablet {
    display: none;
    @media screen and (min-width: 1024px) {
        display: block;
    }

}
.details-image--desktop {
    display: none;
    @media screen and (min-width: 1280px) {
        display: block;
    }

}
.details__icon {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }
}
.icon__item {
    color: $white-text-color;
}
.details__arrow {
    fill: currentColor;
    transition: fill 250ms $timing-function;

    &:focus,
    &:hover {
    
        fill: $fill-yellow-icons;
        
    }
}
.button__container {
    display: flex;
    gap: 16px;
    
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;

    @media screen and (min-width: 1024px) {
        padding: 0 0 100px 47px;
        justify-content: flex-end;
    }
    @media screen and (min-width: 1280px) {
        padding-left: 85px;

    }

}
.details__button {
    display: flex;
    width: 236px;
    height: 48px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    background-color: transparent;
    color: $fill-yellow-icons;
    border: 2px solid $border-white-button-color;
    border-radius: 25px;
    transition: background-color 250ms $timing-function;

    &:focus,
    &:hover {
    
        background-color: $border-white-button-color;
        
    }

}