.details__section--restoran {
    max-width: 414px;
    margin: 0 auto;

    background-color: $hero-fill-color;
    background-image: $liner-gradient-details-mobile,
     $liner-gradient-details,
     url("../images/details-restoran/restoran-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2), 
    screen and (min-resolution: 192dpi), 
    screen and (min-resolution: 2dppx) {
        background-image: $liner-gradient-details-mobile,
         $liner-gradient-details,
         url("../images/details-restoran/restoran-mobile@2x.jpg");
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
        background-image: $liner-gradient-details-tablet,
         $liner-gradient-details,
         url("../images/details-restoran/restoran-tablet.jpg");

        @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi), 
        screen and (min-resolution: 2dppx) {
            background-image: $liner-gradient-details-tablet,
             $liner-gradient-details,
             url("../images/details-restoran/restoran-tablet@2x.jpg");
        }
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        background-image: $liner-gradient-details-desktop;

        // padding-bottom: 96px;
        background-image: $liner-gradient-details-tablet,

            $liner-gradient-details,
            url("../images/details-restoran/restoran-desktop.jpg");
    
        @media screen and (min-device-pixel-ratio: 2), 
        screen and (min-resolution: 192dpi), 
        screen and (min-resolution: 2dppx) {
            background-image: $liner-gradient-details-desktop,
                $liner-gradient-details,
                url("../images/details-restoran/restoran-desktop@2x.jpg");
       }
    
       }

}
.details__container--restoran {
    width: 100%;
    padding: 24px 15px 48px 140px;

    @media screen and (min-width: 1024px) {
        padding: 48px 136px 40px 278px;
        
    }
    @media screen and (min-width: 1280px) {
        padding: 48px 332px 40px 338px;
    }


}
.details__subtitle {
    margin-bottom: 12px;
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;

    color: $white-text-color;

    @media screen and (min-width: 1024px) {
        margin-bottom: 16px;
        font-size: 64px;
    }

}

.details__title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $white-text-color;

    @media screen and (min-width: 1024px) {
        margin-bottom: 8px;
        font-size: 24px; 
    }
}

.details__text {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #bababa;

    @media screen and (min-width: 1024px) {
        font-size: 16px; 
    }
}
.details__wrapper {
    min-width: 0;
    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 29px;
    }

    @media screen and (min-width: 1280px) {
        gap: 32px;
    }
}

.details__wrapper--restoran {
    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}
.swiper.slider__container {
    width: 360px;
    padding-left:  0;
    margin-right: 0;
    margin-left: 40px;
    @media screen and (max-width: 413px){
        margin-left: auto;
        width: auto;
    }
    @media screen and (min-width: 1024px) {
        width: 662px;
        // width: 580px;
        margin-left: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 840px;
    }

}
.swiper-wrapper.details__slider {
    height: 270px;
    margin-bottom: 16px;
    list-style: none;
    // overflow: hidden;
    @media screen and (min-width: 1024px) {
        margin-bottom: 24px;
    }
}
.swiper-slide.slider-item {
    background-color: #DADADA;
    border-radius: 2px;
}
// .swiper-slide.slider-item:nth-child(3n+1) {
//     width: 274px;

//     @media screen and (min-width: 1024px) {
//         width: 270px;
//     }
// }
// .swiper-slide.slider-item:nth-child(3n+2) {
//     width: 160px;
//     @media screen and (min-width: 1024px) {
//         width: 162px;
//     }
// }
// .swiper-slide.slider-item:nth-child(3n+3) {
//     max-width: 160px;
//     @media screen and (min-width: 1024px) {
//         width: 162px;
//     }
//     @media screen and (min-width: 1280px) {
//         width: 270px;
//     }
// }
.details-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.details__icon {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }
}
.icon__item {
    color: $white-text-color;
}
.details__arrow {
    fill: currentColor;
    transition: fill 250ms $timing-function;

    &:focus,
    &:hover {
    
        fill: $fill-yellow-icons;
        cursor: pointer;
    }
}
.button__container {
    display: flex;
    gap: 16px;
    
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;

    @media screen and (min-width: 1024px) {
        padding-bottom: 100px;
        justify-content: flex-end;
    }
}
.button__container--restoran {

    @media screen and (min-width: 1024px) {
        padding-left: 47px;
    }
    @media screen and (min-width: 1280px) {
        padding-left: 85px;

    }
}
.details__button {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    background-color: $restaurant-background-button-color;
    color: $fill-yellow-icons;
    border: 2px solid $border-white-button-color;
    border-radius: 25px;
    transition: background-color 250ms $timing-function;

    &:focus,
    &:hover {
    
        background-color: $border-white-button-color;
        
    }

    @media screen and (min-width: 414px){
        width: 236px;
    }

}