
.kitchen {
    background-color: $primary-background-color;
    padding-top: 16px;
    padding-bottom: 20px;
    position: relative;

    @media (min-width: 1024px) {
        padding-top: 120px;
        padding-bottom: 32px;
    }
}

.kitchen__text {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $optional-text-color-under-logo;
    margin-bottom: 12px;

    @media (min-width: 1024px) {
        font-size: 32px;
        line-height: 1.16;
        margin-bottom: 4px;
    }
}

.kitchen__logo {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.02;
    letter-spacing: 0.3em;
    color: $logo-black-color;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (min-width: 1024px) {
        font-size: 64px;
        line-height: 1.01;
        margin-bottom: 24px;
    }
}

.kitchen__description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5F5F5F;
    margin-bottom: 28px;
    max-width: 66.66666%;

    @media (min-width: 1024px) {
        font-size: 16px;
        max-width: 45%;
        margin-bottom: 142px;
    }
        @media (min-width: 1280px) {
            margin-bottom: 162px;
        }
}

.kitchen__description--brown {
    color: $brown-color;

    @media (min-width: 1024px) {
        max-width: 33%;
    }
        @media (min-width: 1280px) {
            max-width: 312px;
        }
}


.kitchen__flex {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: 1024px) {
        gap: 40px;
    }
        @media (min-width: 1280px) {
            gap: 32px;
        }
}

.kitchen__foto-interior {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: #DADADA;
    margin-bottom: 32px;
    margin-left: auto;

    @media (min-width: 1024px) {
        position: absolute;
        right: 0;
        top: -32px;
        transform: translateX(-25%);
    }
        @media (min-width: 1280px) {
            top: -33px;
        }
}

.kitchen__foto-meat {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: #DADADA;
    margin-bottom: 32px;
}

.kitchen__flex-foto {
    display: flex;
    gap: 24px;

    @media (min-width: 1024px) {
        gap: 40px;
        justify-content: right;
        transform: translateY(-30%);
    }

        @media (min-width: 1280px) {
            transform: translateY(-75%);
        }
}


.kitchen__foto-flour {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: #DADADA;
    margin: 0 auto 20px;
}

.kitchen__foto-tkemali {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}


